@font-face{ 
    font-family:"Intro";
    src:url("../fonts/Intro-Black.eot");
    src:url("../fonts/Intro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Intro-Black.woff") format("woff"),
    url("../fonts/Intro-Black.ttf") format("truetype"),
    url('../fonts/Intro-Black.svg#"Intro"') format("svg");
    font-weight:900;
    font-style:normal
}

@font-face{
    font-family:"Intro";
    src:url("../fonts/Intro-Light.eot");
    src:url("../fonts/Intro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Intro-Light.woff") format("woff"),
    url("../fonts/Intro-Light.ttf") format("truetype"),
    url('../fonts/Intro-Light.svg#"Intro"') format("svg");
    font-weight:300;
    font-style:normal
}

@font-face{
    font-family:"Intro";
    src:url("../fonts/Intro-Thin-Italic.eot");
    src:url("../fonts/Intro-Thin-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Intro-Thin-Italic.woff") format("woff"),
    url("../fonts/Intro-Thin-Italic.ttf") format("truetype"),
    url('../fonts/Intro-Thin-Italic.svg#"Intro"') format("svg");
    font-weight:200;
    font-style:normal
}

body {
	background: #fafafa;
}

header {
	padding: 30px 0;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Intro', 'Open Sans', sans-serif;
}

h1 {
	color: #333;
	width: 100%;
	font-size: 28px;
	margin: 0 0 15px;
	text-align: center;
}

h2 {
	width: 100%;
	color: #666;
	font-size: 16px;
	text-align: center;
	text-align: center;
}

a {
	color: #333;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	transition: .5s ease-in;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	font-family: 'Intro', 'Open Sans', sans-serif;
}

	a:hover {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px solid #333;
	}

	header a {
		margin: auto;
	}


.links-spacing {
	display: flex;
	justify-content: center;
}

	.links-spacing a {
		margin: auto 15px;
	}

.categorias {
	margin-bottom: 30px;
}

	.categorias ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.categorias li {
		list-style: none;
		margin: 0 10px;
		padding: 8px 20px;
		display: inline-block;
		background: #fff;
		border-radius: 50px;
		font-size: 14px;
		text-transform: uppercase;
		font-family: 'Intro', sans-serif;
		font-weight: 300;
		cursor: pointer;
		transition: .3s ease-in;
	}

		.categorias li:hover {
			background: #eee;
		}

		.categorias li.ativo {
			color: #fff;
			background: #333;
		}

			.categorias li.ativo:hover {
				color: #fff;
				background: #000;
			}

.prods-holder {
	width: 100%;
}

.produto {
	padding: 30px;
	margin: 15px 0;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

	.produto .image {
		width: 100%;
		margin: 0 0 15px;
		background-size: cover;
		background-color: #fafafa;
		background-position: center;
		background-repeat: no-repeat;
	}

		.produto .image::before {
			content: '';
    		display: block;
    		padding-top: 75%;
		}

	.produto h3 {
		margin: 0 0 5px;
		color: #333;
		font-size: 17px;
		font-weight: 300;
		text-transform: uppercase;
		font-family: 'Intro', 'Open Sans', sans-serif;
	}

	.produto h4 {
		color: #333;
		font-size: 14px;
		font-weight: 900;
		margin: 0 0 10px;
		text-transform: uppercase;
		font-family: 'Intro', 'Open Sans', sans-serif;
	}

	.produto p {
		margin: 0 0 15px;
		color: #666;
		font-size: 13px;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
	}

	.produto a {
		font-size: 14px;
	}

	.produto ul {
		padding: 0;
		margin: 15px 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.produto li {
		list-style: none;
		display: inline-flex;
		padding: 0 5px;
		font-size: 12px;
		color: #333;
	}

		.produto li:first-child {
			margin-left: 0;
		}

footer {
	margin: 60px 0 30px;
	color: #666;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Intro', 'Open Sans', sans-serif;
}

	footer h2 {
		color: #666;
		font-size: 12px;
	}

	footer a {
		color: #666;
		font-size: 12px;
	}


@media screen and (max-width: 768px) {
	h2 {
		font-size: 14px;
		margin: 10px 0;
	}
	.links-spacing {
		flex-wrap: wrap;
	}
	.categorias ul {
		flex-wrap: wrap;
	}
	.categorias li {
		margin: 5px;
	}
}


